.clicked_row {background-color:#fff284; font-weight:bold}

.border {border:solid 1px #cccccc}
.border_radius {border:solid 1px #cccccc; border-radius:10px}

.padding {padding:20px}

.high_priority {background-color:#990000; padding:5px; color:#ffffff; font-weight:bold; border:solid 1px #990000; border-radius:10px}
.medium_priority {background-color:#f09900; padding:5px; color:#ffffff; font-weight:bold; border:solid 1px #f09900; border-radius:10px}
.low_priority {background-color:#999999; padding:5px; color:#ffffff; font-weight:bold; border:solid 1px #999999; border-radius:10px}

.text_center {text-align:center}